* {
    text-align: center;
    font-family: Comic Sans MS;
    color: rgb(255, 255, 255);
}

body {
    background-image: url("../img/puslapis.jpg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center center;
}

.match {
    background-image: url("../img/rezultau fonas.jpg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center center;
}

h1 {
    font-size: 350%;
}

.button, button {
    background-color: rgb(158, 10, 79);
    border: none;
    padding: 20px;
    border-radius: 5px;
    font-size: 150%;
    font-weight: 150%;
    margin: 10px;
    color: white;
}

.button:hover, button:hover {
    background-color: rgb(84, 24, 163);
    font-size: 160%;
}

.white_box {
    background-color: rgba(250, 136, 101, 0.767);
    padding: 5%;
    width: 40%;
    margin: auto;
    position: relative;
    top: 100px;
    border-radius: 10px;
}

.dark_box {
    background-color: rgba(46, 5, 32, 0.657);
    padding: 5%;
    width: 80%;
    margin: auto;
    position: relative;
    top: 100px;
    border-radius: 10px;
}

.disconn button {
    background-color: rgb(3, 23, 41);
    padding: 5px;
    border-radius: 5px;
    font-size: 100%;
    font-weight: 100%;
}

.green td {
    color: rgb(73, 148, 30);
    font-weight: 400;
}

.red td {
    color: rgb(139, 12, 86);
}

table {
    width: 70%;
    font-size: 150%;
    margin: auto;
}

.pav {
    height: 300px;
}

.dropbtn {
    background-color: rgb(89, 26, 236);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: rgb(89, 26, 236);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #eca1d3;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(158, 10, 79);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* .dropdown:hover .dropbtn {
    background-color: #c1ace4;
} */

input {
    color: rgb(6, 6, 47);
    margin: 5px;
    padding: 5px;
}