* {
    text-align: center;
    font-family: Comic Sans MS;
    color: rgb(130, 183, 251);
}
body {
    background-image: url("../img/laboratorija.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
h1 {
    font-size: 350%;
}
.button, button {
    background-color: rgb(138, 9, 89);
    border: none;
    padding: 20px;
    border-radius: 5px;
    font-size: 150%;
    font-weight: 150%;
}
.button:hover, button:hover {
    background-color: rgb(163, 24, 110);
    font-size: 160%;
}
.white_box {
    background-color: rgba(255, 255, 255, 0.11);
    padding: 5%;
    width: 50%;
    margin: auto;
    position: relative;
    top: 100px;
    border-radius: 10px;
}